@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/* font-family: 'Noto Serif', serif; */
@import url('http://fonts.cdnfonts.com/css/circular-std');
/* font-family: 'Circular Std', sans-serif; */

/* main colors
#ff0005
#7a7a7a
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.mainBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.p2 {
    padding: 22px 0;
}

.ml-5 {
    margin-left: 5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.p5 {
    padding: 5em 0;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 0;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

/* top header */
ul.leftNav li {
    display: inline-block;
}

ul.leftNav li a {
    color: #7a7a7a;
    padding: 0 8px 0 0;
}

ul.leftNav li a:hover,
.quick-links a:hover,
ul.category-list li a:hover,
a.telIcon:hover {
    color: #ff0005;
}

.btn {
    color: #000;
    padding: 16px 30px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #7a7a7a;
}

.btn:hover {
    opacity: .9;
}

.border-radius-0 {
    border-radius: 0;
}

.redBtn {
    background-color: #ff0005;
    color: #fff;
    border-color: #ff0005;
}

.darkGrayBtn {
    background: #222222;
    color: #fff;
    border-color: #222222;
}

.darkGrayBg {
    background-color: #222222;
}

.navbar-toggler span {
    display: block;
    margin-bottom: 6px;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

ul.navbar-nav,
ul.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

ul.navbar-nav a {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    padding: 16px;
    display: inline-block;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

ul.navbar-nav a:hover, .nav-aside ul li .nav-item:hover{
    color: #ff0005;
}

.sticky .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.sticky .nav-aside {
    position: fixed;
    top: 58px;
}

.topSpace {
    margin-top: 60px;
}

ul.social-icons a {
    display: inline-block;
    color: #747474;
    font-size: 18px;
    padding-left: 14px;
}

ul.social-icons a:hover {
    color: #fff;
}

ul.navbar-nav {
    left: 50px;
    position: relative;
}

/* ----- nav aside */
.nav-aside {
    position: absolute;
    width: 300px;
    height: 100%;
    background: rgba(34, 34, 34, 1);
    left: 0;
    display: none;
    padding-top: 1em;
    z-index: 20;
}

.nav-aside ul li .nav-item {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    padding: 12px 12px 12px 40px;
    display: block;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    border-bottom: 1px solid #303030;
}

.nav-aside a.btn {
    margin-left: 33px;
    margin-top: 15px;
}
.navbar-toggler.active span {background-color: #ff0005;}

.navbar-toggler {
    cursor: pointer;
}

.navbar-toggler span {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-toggler.active span:nth-of-type(1) {
    -webkit-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
    transform: rotate(32deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0;
}

.navbar-toggler.active span:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler.active span:nth-of-type(3) {
    -webkit-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    transform: rotate(-32deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.nav-aside li.aside-social a {
    display: inline-block;
    padding: 3px;
    font-size: 15px;
    color: #747474;
    border: none;
}

li.aside-social a {
    display: inline-block;
}


li.aside-social {
    padding: 12px 12px 12px 40px;
}

/* ANIMATED X COLLAPSED */
.navbar-toggler span:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler span:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler span:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/*  ---- */
.big-img {
    background-color: #383838;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.big-img h1 {
    margin: 0 0 15px 0;
    font-size: 85px;
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

ul.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
}

ul.breadcrumb a {
    color: #fff
}

.breadcrumbLink+.breadcrumbLink {
    padding-left: 10px;
}

.breadcrumbLink+.breadcrumbLink:before {
    content: '||';
    display: inline-block;
    color: #fff;
    margin-right: 5px;
}

/* content */
.content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-col {
    width: 70%;
    margin-right: 30px;
}

.asideCol {
    width: 40%;
}

.form-section {
    border: 2px solid #ebebeb;
    padding: 2em;
    margin-bottom: 3em;
}

.form-row {
    margin-bottom: 30px;
}

.form-row label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.form-row input,
.form-row select,
.form-row textarea {
    display: block;
    border: 1px solid #ebebeb;
    width: 100%;
    color: #7a7a7a;
    padding: 20px 18px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Circular Std', sans-serif;
    font-weight: normal;
}

input:focus,
select:focus,
textarea:focus,
.search-box input:focus {
    outline: none;
    border-color: #c8c8c8;
}

.upload-row {
    margin: 0 0 3em 0;
}

.upload-row label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.formRowGroup {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
}

.formRowGroup input {
    width: 48%;
    margin-bottom: 20px;
}

/*  side block */

.search-box {
    position: relative;
}

.search-box input {
    height: 60px;
    padding: 10px 25px;
    border: 1px solid #ebebeb;
    width: 100%;
    color: #7a7a7a;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Circular Std', sans-serif;
    font-weight: normal;
}

.searchBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #ff0005;
}

.shopSection h2 {
    font-size: 30px;
    margin-top: 0;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.shopSection {
    height: 400px;
    background-color: #505050;
    padding: 2em;
    display: table;
    margin: 2em 0;
    color: #fff;
    width: 100%;
}

.shopContent {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #8b8b8b;
    padding: 3em;
}

.side-block {
    border: 2px solid #ebebeb;
    padding: 2em;
    margin-bottom: 3em;
}

ul.category-list li a {
    font-family: 'Circular Std', sans-serif;
    color: #7a7a7a;
    font-size: 15px;
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
}


ul.category-list li a:before {
    content: '\f178';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
    margin-right: 6px;
}

/* news */
.news-block a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}

.news-txt h4 {
    margin: 0 0 5px 0;
    font-size: 15px;
    color: #ff0005;
    font-family: 'Circular Std', sans-serif;
    font-weight: normal;
}
.news-block:hover p{color: #ff0005;}
.news-txt p {
    margin: 0;
    font-size: 16px;
    color: #000;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.news-block img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 14px;
}

.news-block {
    margin-top: 1em;
}

/* tags */
.tags-section a {
    font-family: 'Circular Std', sans-serif;
    font-weight: normal;
    display: inline-block;
    font-size: 13px;
    padding: 5px 12px;
    color: #7a7a7a;
    background-color: #f1f1f1;
    margin: 0 4px 8px 0;
    -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.tags-section a:hover {
    /* background-color: #ff0005; */
    color: #fff;
}
.tags-section a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff0005;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.tags-section a:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* insta */
.insta-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.img-block {
    width: 16.666%;
    position: relative;
}

.img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #ff0005;
    color: #fff;
    display: table;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0;
}

.hover-block p {
    margin: 0;
    border: 1px solid #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}

.img-block:hover .hover-block {
    opacity: 0.8;
}

/* footer */
footer {
    background: #111111;
    padding: 4em 0 1em 0;
    background-image: url('../images/restaurant.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;

}

footer h4 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    margin-top: 0;
}

footer p {
    color: #919191;
    font-family: 'Circular Std', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

footer h2 {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    margin-top: 0;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.footerRow {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.quick-links {
    display: inline-block;
}

.quick-links a {
    color: #919191;
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

.footer-logo img {
    width: 206px;
    display: block;
    margin: 0 auto;
}

.footerRow .block {
    width: 28%;
}

.footerRow .block:last-child {
    width: 34%;
}

.footer-logo {
    margin-bottom: 5em;
}

a.telIcon {
    color: #919191;
    font-size: 18px;
}

a.telIcon i {
    border: 1px solid #919191;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    color: #ff0005;
    margin-right: 12px;
    transition: all 0.2s ease-in-out;
}

ul.footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

ul.footer-icons li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

ul.footer-icons li.facebook a {
    background-color: #4267b2;
}

ul.footer-icons li.insta a {
    background-color: #e9455a;
}

ul.footer-icons li.pinterest a {
    background-color: #e60023;
}

ul.footer-icons li.twitter a {
    background-color: #1da1f2;
}

ul.footer-icons li a:hover,
a.telIcon:hover i {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.copyright {
    border-top: 1px solid #1e1e1e;
    margin-top: 4em;
    text-align: center;
}

/* ------------------------ Media Query -------------------- */
/* Mobile Devices */
@media (max-width: 480px) {
    .img-block {
        width: 33.33%;
        position: relative;
    }
    .formRowGroup input {
        width: 100%;}
    .big-img h1 {
        font-size: 36px;
    }
    .shopContent{
        padding: 1em;
    }
    .container {
        max-width: 100%;
        margin:0 auto;
        padding: 0 2em;
    }
    .content-row, .footerRow {
        display: block;
    }

    .form-col, .footerRow .block, .footerRow .block:last-child{
        width: 100%;
        margin-right: 0;
    }
    .footerRow .block.ml-5 {margin: 3em 0;}
    .asideCol {
        width: 100%;
        margin-top: 4em;
    }

    .hideMob {
        display: none;
    }

    .hideDesktop {
        display: block;
    }

    .mopToggler .navbar-toggler span {
        background-color: #222222;
    }
    .nav-aside{
        width: 100%;
        left: initial;
        right: 0;
    }
    .fixHeader.mobsticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0px;
        z-index: 100;
        background-color: #fff;
    }
    .ml-5 {
        margin-left: 0;
    }
    footer h2 {
        color: #fff;
        font-size: 38px;
        line-height: 42px;
    }
    .sticky .nav-aside {
        position: fixed;
        top: 100px;
    }
}

/* low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .sticky .nav-aside {
        position: fixed;
        top: 100px;
    }
    .shopContent{
        padding: 1em;
    }
    .big-img h1 {
        font-size: 36px;
    }
    .container {
        max-width: 100%;
        margin:0 auto;
        padding: 0 2em;
    }
    .content-row, .footerRow {
        display: block;
    }

    .form-col, .footerRow .block, .footerRow .block:last-child{
        width: 100%;
        margin-right: 0;
    }
    .footerRow .block.ml-5 {margin: 3em 0;}
    .asideCol {
        width: 100%;
        margin-top: 4em;
    }

    .hideMob {
        display: none;
    }

    .hideDesktop {
        display: block;
    }

    .mopToggler .navbar-toggler span {
        background-color: #222222;
    }
    .nav-aside{
        width: 100%;
        left: initial;
        right: 0;
    }
    .fixHeader.mobsticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0px;
        z-index: 100;
        background-color: #fff;
    }
    .ml-5 {
        margin-left: 0;
    }
    footer h2 {
        color: #fff;
        font-size: 38px;
        line-height: 42px;
    }
    .img-block {
        width: 33.33%;
        position: relative;
    }
}

/* Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    .content-row {
        display: block;
    }

    .form-col {
        width: 100%;
        margin-right: 0;
    }

    .asideCol {
        width: 100%;
        margin-top: 4em;
    }

    .hideMob {
        display: none;
    }

    .hideDesktop {
        display: block;
    }

    .mopToggler .navbar-toggler span {
        background-color: #222222;
    }
    .nav-aside{
        width: 100%;
        left: initial;
        right: 0;
    }
    .fixHeader.mobsticky {
        position: fixed;
        left: 0;
        right: 0;
        top:0px;
        z-index: 100;
        background-color: #fff;
    }
    .ml-5 {
        margin-left: 0;
    }
    footer h2 {
        color: #fff;
        font-size: 38px;
        line-height: 42px;
    }
}

/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .hideDesktop {
        display: none;
    }
}

/* Large screens */
@media (min-width: 1281px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .hideDesktop {
        display: none;
    }
}